

#topicsList
  justify-items: center
  .topicsList-banner
    position: relative
    margin: 0
    display: flex
    align-items: flex-end
    width: 100vw
    height: 10rem
    padding: 0
    img
      position: relative
      min-width: 100vw
      height: 100%
      object-fit: cover
    span
      width: 100%
      position: absolute
      z-index: 99
      font-size: 1.375rem
      color: $dark-3
      padding: $space-small
      margin-bottom: 1rem
  ul
    @include cardGrid
    padding: $space-medium

  li
    width: 100%
    height: auto
    a
      height: 100%
      width: 100%
      img
        padding: $space-medium

    .text-box
      padding: $space-medium
      background-color: $primary-7
      height: 100%
      width: 100%
      border-radius: 100px
      @include cardContentGrid
      justify-items: start

    .icon-btn
      @include hover-lift
      display: flex
      justify-content: space-between
      margin: $space-small auto
      align-items: center
      img
        height: auto
        margin: 0 auto
        padding: $space-x-small
        z-index: 55
        width: 3rem


